.App{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 3fr 9fr;
}

@media (max-width: 1025px  ) {
    .App{
        display: flex;
        flex-direction: column;
    }
}
@media (max-width: 824px  ) {
    .App{
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 732px  ) {
    .App{
        display: flex;
        flex-direction: column;
    }
}
@media (max-width: 717px) {
    .App{
        display: flex;
        flex-direction: column;
    }
}
