.wrapperWorks {
    height: auto;
    position: relative;
    padding: 4.5rem 0;
    overflow: hidden;
}

#img {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scroll {
    display: none;
    text-align: center;
    color: #0d6efd;
}

.container {
    /*padding: 1%;*/
    border: 2px solid darkslateblue;
    border-radius: 0.3rem;
    height: 25rem;
    width: 350px;
    overflow-y: scroll;
    margin-left: 19rem;
    background-color: darkslateblue;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Poppins", sans-serif;
}

.portfolio {
    opacity: 0.1;
    font-weight: 1000;
    text-transform: uppercase;
    font-size: 7em;
    margin-left: 2%;
}

.minTitle {
    display: flex;
    position: absolute;
    top: 15%;
    flex-direction: column;
    align-items: center;
    font-family: "Poppins", sans-serif;
}

.portfolioSpan {
    display: block;
    border-color: #20c997;
    width: 80px;
    border-width: 3px;
    border-bottom: 3px solid #20c997;
}

.minTitle p {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 0;
}

.click {
    margin: 0;
}

.work_todo {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-align: center;
}

.title_todo {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-right: 1rem;
}

@media (max-width: 2561px) {
    .portfolio {
        font-size: 13em;
    }

    .minTitle {
        font-size: 1.5rem;
        top: 12%;
    }

    .portfolioSpan {
        width: 130px;
        border-bottom: 4px solid #20c997;
    }

    .title_todo {
        margin-bottom: 0;
    }

    .container {
        width: 850px;
        height: 61rem;
    }
}

@media (max-width: 1537px) {
    .portfolio {
        font-size: 7em;
    }

    .minTitle {
        font-size: .9rem;
        top: 14%;
    }

    .portfolioSpan {
        width: 130px;
        border-bottom: 4px solid #20c997;
    }

    .title_todo {
        margin-bottom: 0;
    }

    .container {
        margin-left: 17rem;
        width: 500px;
        height: 36rem;
    }
}

@media (max-width: 1441px) {
    .minTitle {
        top: 13%;
    }

    .title_todo {
        font-size: 1.5rem;
        margin-left: 7%;
        margin-bottom: 0;
    }

    .container {
        margin-left: 17rem;
        width: 500px;
        height: 36rem;
    }
}

@media (max-width: 1367px  ) {
    .minTitle {
        top: 13%;
    }
}

@media (max-width: 1025px) {
    .wrapperWorks {
        margin-left: 13rem;
    }

    .title_todo {
        font-size: 1.5rem;
        margin-left: 6%;
        margin-bottom: 0;
    }

    .minTitle {
        top: 13%;
    }

    .wrapperWorks {
        height: auto;
    }

    .container {
        margin-left: 11rem;
    }
}

@media (max-width: 824px  ) {
    .minTitle {
        top: 20%;
    }

    .wrapperWorks {
        height: auto;
        margin-left: 0;
    }
}

@media (max-width: 769px) {
    .wrapperWorks {
        padding-left: 0;
        padding-top: 0;
    }

    .portfolio {
        font-size: 5em;
    }

    .minTitle {
        font-size: .8rem;
        font-weight: bold;
        margin-bottom: 0;
        top: 3%;
    }

    .portfolioSpan {
        width: 80px;
        border-bottom: 3px solid #20c997;
    }

    .title_todo {
        font-size: 1.3rem;
        margin-left: 4.2%;
        margin-bottom: 0;
    }

    .container {
        margin-left: 9rem;
    }
}

@media (max-width: 737px  ) {
    .minTitle {
        top: 7%;
    }
}

@media (max-width: 732px  ) {
    .minTitle {
        top: 7%;
    }
}

@media (max-width: 650px) {
    .minTitle {
        top: 4%;
    }

    .container {
        margin-left: 5rem;

    }
}

@media (max-width: 641px) {
    .minTitle {
        top: 7%;
    }
}

@media (max-width: 577px) {
    .container {
        margin-left: 2.5rem;
    }

    .minTitle {
        top: 4%;
    }
}

@media (max-width: 541px) {
    .container {
        margin-left: 6rem;
        width: 350px;
        height: 26rem;
    }

}

@media (max-width: 569px) {
    .minTitle {
        top: 6%;
    }

    .portfolio {
        margin-right: 18px;
    }
}

@media (max-width: 501px) {
    .minTitle {
        font-size: .8rem;
        font-weight: bold;
        margin-bottom: 0;
        top: 3.5%;
    }

    .portfolio {
        font-size: 4.7em;
    }

    .container {
        margin-left: 5rem;
        width: 300px;
        height: 24.5rem;
    }

    .scroll {
        display: block;
    }
}

@media (max-width: 426px) {
    .wrapperWorks {
        padding-left: 0;
        padding-top: 0;
    }

    .portfolio {
        font-size: 4em;
    }

    .minTitle {
        font-size: .5rem;
        font-weight: bold;
        margin-bottom: 0;
        top: 3.5%;
    }

    .portfolioSpan {
        width: 65px;
        border-bottom: 3px solid #20c997;
    }

    .title_todo {
        font-size: 1.5rem;
        margin-left: 6%;
        margin-bottom: 0;
    }

    .work_todo {
        margin-left: -3.5%;
        width: 20rem;
    }

    .container {
        margin-left: 3.5rem;
        width: 300px;
        height: 24.5rem;
    }
}

@media (max-width: 376px) {
    .portfolio {
        font-size: 3.5em;
    }

    .minTitle {
        font-size: .5rem;
        font-weight: bold;
        margin-bottom: 0;
        top: 3%;
    }

    .portfolioSpan {
        width: 65px;
        border-bottom: 2px solid #20c997;
    }

    .container {
        margin-left: 2.5rem;
    }
}

@media (max-width: 363px) {
    .work_todo {
        margin-left: -1.7rem;
        width: 20rem;
    }

    .container {
        margin-left: 3rem;
        width: 270px
    }
}

@media (max-width: 321px) {
    .minTitle {
        font-size: .5rem;
        font-weight: bold;
        margin-bottom: 0;
        top: 2%;
    }

    .portfolio {
        font-size: 2.9em;
        margin-right: 12px;
    }

    .work_todo {
        margin-left: -1.7rem;
        width: 20rem;
    }

    .container {
        margin-left: 1.5rem;
        width: 270px
    }
}
